<ion-header>
  <ion-toolbar>
    <ion-title>
      Dish Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 class="ion-text-center">Select Your Favorite Dishes</h3>
  <ion-list *ngFor = "let dishGroup of dishCollection">
    <ion-item>
      <ion-label>
        <h2>{{dishGroup.category | uppercase}}</h2>
        <p>{{dishGroup.dishes.length}} items</p>
      </ion-label>
    </ion-item>
    <ion-card *ngFor = "let dishDetail of dishGroup.dishes; let i=index">
      <ion-card-header>
        <p>{{i+1}} {{dishDetail.item}}</p>
        <ion-card-content>
          <img src={{dishDetail.img}}>
          <p>{{dishDetail.desc}}</p>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
